.navItem {
 
    color: white;
    font-size: .9em;
    margin-right: 1rem;
    text-decoration: none;
   

}

.navItemImg {
    
    margin-top: 4px;
    margin-right: 20px;
    justify-items: center;
    align-items: center;
}

.title {
    color: black;
    font-size: 3rem;
    text-decoration: none;

}

.navList {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    align-content: center;
    margin: 2px;
    padding: 5px;
    background-color: rgb(202, 93, 53);

}

.navItem:hover {
    color:white;
    text-decoration-line:underline;
}

.activeNavItem {
    color:black;
    font-weight: bolder;
}