.proPic{
    display: flex;
    height: 100px;
    width: auto;
  }
  
  .profileTop{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  }

  .Article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#artTest{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.deleteUser {
    background-color: yellow;
    color: black;
}

.deleteUser:hover{
    background-color: red;
    color: white;

}